<div class="user-informations">    
    <small>Nombre d'années</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Années</span>
        <input class="form-control" placeholder="Nombre d'année" [(ngModel)]="userInfos.nbYears">
    </div>
    <br>
    <small>Kilométrage annuel</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">km</span>
        <input class="form-control" placeholder="Kilomètrage annuel" [(ngModel)]="userInfos.km">
    </div>
    <br>
    <small>Sans Plomb 98</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">€</span>
        <input class="form-control" placeholder="Prix SP98" [(ngModel)]="userInfos.sp98">
    </div>
    <br>
    <small>Sans Plomb 95</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">€</span>
        <input class="form-control" placeholder="Prix SP95" [(ngModel)]="userInfos.sp95">
    </div>
    <br>
    <small>Gasoil</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">€</span>
        <input class="form-control" placeholder="Prix Gasoil" [(ngModel)]="userInfos.gasoil">
    </div>
    <br>
    <small>Electricité (prix moyen)</small>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">€</span>
        <input class="form-control" placeholder="Prix Electricité HC" [(ngModel)]="userInfos.electricity">
    </div>
</div>