<div class="layout"> 
    <div id="accordion" class="menu" role="tablist" aria-multiselectable="true">
        
        <!-- Informations -->
        <div class="card">
            <div class="card-header" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_ui" aria-expanded="true" [attr.aria-controls]="collapse_ui">
                    Informations
                </a>
            </div>
            <app-user-infos id="collapse_ui" class="user-infos collapse" [userInfos]="userInfos"></app-user-infos>
        </div>

        <!-- Actions (Add vehicle, compare) -->
        <div class="d-flex justify-content-around align-items-center add-vehicle" *ngIf="!vehicles || vehicles.length < 5">        
            <div class="form-group">
                <input class="form-control" [(ngModel)]="vehicleName" placeholder="Nom du véhicule">
            </div>
            <button 
                [disabled]="!vehicleName"
                class="btn btn-default btn-primary" 
                (click)="addVehicle()">
                +
            </button>
            <button (click)="generateCharts()">Comparer</button>
        </div>            
        
        <!-- Vehicles -->
        <div class="card" *ngFor="let v of vehicles; let i = index">
            <div class="card-header" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" [href]="'#collapse_'+i" aria-expanded="true" [attr.aria-controls]="'collapse_' + i">
                {{ v.name }}
                </a>            
                <button (click)="removeVehicle(v)" class="btn btn-default btn-danger">
                    X
                </button> 
            </div>

            <div [id]="'collapse_'+i" class="collapse" role="tabpanel">
                <app-vehicle 
                    [vehicle]="v"
                    [collapsed]="isCollapsed"
                    [costPerMonth]="costsPerMonth[index]"
                    (vehicleDeleted)="removeVehicle($event)"
                    (onChange)="onVehicleChange($event)">
                </app-vehicle>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="charts">
        <div class="chart" *ngIf="lineChart.data">
            <canvas 
                baseChart
                [datasets]="lineChart.data"
                [labels]="lineChart.labels"
                [legend]="lineChart.legend"
                [options]="lineChart.options"
                [chartType]="lineChart.type">
            </canvas>
        </div>
        <div class="chart" *ngIf="barChart.data">
            <canvas 
                baseChart
                [datasets]="barChart.data"
                [labels]="barChart.labels"
                [options]="barChart.options"
                [legend]="barChart.legend"
                [chartType]="barChart.type">
            </canvas>
        </div>
        <!--<div class="chart" *ngIf="radarChart.data">
            <canvas 
                baseChart
                [datasets]="radarChart.data"
                [labels]="radarChart.labels"
                [options]="radarChart.options"
                [legend]="radarChart.legend"
                [chartType]="radarChart.type">
            </canvas>
        </div>-->
    </div>
</div>