<div class="layout"> 
    <div id="accordion" class="menu" role="tablist" aria-multiselectable="true">
        
        <!-- Informations -->
        <div class="card">
            <div class="card-header" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_ui" aria-expanded="true" [attr.aria-controls]="collapse_ui">
                    Données communes
                </a>
            </div>
            <app-user-infos id="collapse_ui" class="user-infos collapse" [userInfos]="userInfos"></app-user-infos>
        </div>

        <!-- Actions (Add vehicle, compare) -->
        <div class="d-flex justify-content-between align-items-center add-vehicle" *ngIf="!vehicles || vehicles.length < 5">        
            <div class="form-group">
                <input class="form-control" [(ngModel)]="vehicleName" placeholder="Ajouter un véhicule">
            </div>
            <button 
                [disabled]="!vehicleName"
                class="btn btn-default btn-primary" 
                (click)="addVehicle()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>            
        
        <!-- Vehicles -->
        <div class="card" *ngFor="let v of vehicles; let i = index">
            <div class="card-header d-flex" role="tab">
                <a style="flex: 1" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse_'+i" aria-expanded="true" [attr.aria-controls]="'collapse_' + i">
                   {{ v.name }}
                </a>            
                <button (click)="removeVehicle(v)" class="btn btn-default btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button> 
            </div>
            <div [id]="'collapse_'+i" class="collapse" role="tabpanel">
                <app-vehicle 
                    [vehicle]="v"
                    [collapsed]="isCollapsed"
                    [costPerMonth]="costsPerMonth[index]"
                    (vehicleDeleted)="removeVehicle($event)"
                    (onChange)="onVehicleChange($event)">
                </app-vehicle>
            </div>
        </div>
    </div>

    <!-- Charts -->
    <div class="charts" *ngIf="vehicles">
        <div class="chart" *ngIf="lineChartPriceEvolution.data">
            <canvas 
                baseChart
                [datasets]="lineChartPriceEvolution.data"
                [labels]="lineChartPriceEvolution.labels"
                [legend]="lineChartPriceEvolution.legend"
                [options]="lineChartPriceEvolution.options"
                [chartType]="lineChartPriceEvolution.type">
            </canvas>
        </div>
        <div class="chart" *ngIf="barChartCostPerYear.data">
            <canvas 
                baseChart
                [datasets]="barChartCostPerYear.data"
                [labels]="barChartCostPerYear.labels"
                [options]="barChartCostPerYear.options"
                [legend]="barChartCostPerYear.legend"
                [chartType]="barChartCostPerYear.type">
            </canvas>
        </div>
        <div class="chart" *ngIf="barChartCostPerKm.data">
            <canvas 
                baseChart
                [datasets]="barChartCostPerKm.data"
                [labels]="barChartCostPerKm.labels"
                [options]="barChartCostPerKm.options"
                [legend]="barChartCostPerKm.legend"
                [chartType]="barChartCostPerKm.type">
            </canvas>
        </div>
        <div class="chart" *ngIf="barChartCostPerKm.data">
            <canvas 
                baseChart
                [datasets]="barChartCostPerKm.data"
                [labels]="barChartCostPerKm.labels"
                [options]="barChartCostPerKm.options"
                [legend]="barChartCostPerKm.legend"
                [chartType]="barChartCostPerKm.type">
            </canvas>
        </div>
    </div>
</div>